{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}

{% block body %}
<table>
{% for a in actors  %}
<tr>
<td><img src="{{asset('images/' ~ a.image ) }}" ></td>
<td>{{ a.nom }}</td>
<td>{{ a.prenom }}</td>
</tr>
{% endfor %}
<table>
{% endblock %}
